body{
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
h1{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-style: oblique;
  text-decoration: underline;
  color: rgb(221, 11, 22);
  padding: 5px; 
}

.form-group{
  padding: 8px;
}
